div.radVizRenderer {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div#radVizCanvas,
div.steeredCanvases {
  position: absolute;
  left: 0;
}
div#nonSteeringRadVizCanvas,
div.nonSteeredCanvases {
  position: absolute;
  right: 0;
}

div.nonSteeredCanvases rect.brushedRegion {
  stroke-width: 0.3px;
  stroke: #333;
}

div.steeredCanvases .selected-points-label,
div.nonSteeredCanvases .selected-points-label {
  fill: black;
}

svg.radVizAxesCanvas,
svg.recentRadVizCanvas,
svg.nonSteeringRadVizAxesCanvas,
svg.recentNonSteeredRadVizCanvas {
  position: absolute;
}

svg.recentRadVizCanvas circle.recent-point {
  fill: white;
  stroke: steelblue;
}
svg.recentRadVizCanvas circle.recent-point.inside-selection {
  fill: steelblue;
}

svg.recentNonSteeredRadVizCanvas circle.recent-point {
  fill: white;
  stroke: #555;
  stroke-width: 2px;
}

svg.recentNonSteeredRadVizCanvas circle.recent-point.inside-selection {
  fill: #555;
}

svg.radVizAxesCanvas .selection {
  stroke-width: 0.15px;
  stroke: black;
}
