svg.axisCanvas,
svg.nonSteeringAxesCanvas,
svg.densityCanvas,
svg.recentPointsCanvas,
svg.recentNonSteeredPointsCanvas,
canvas.scatterplotCanvas,
canvas.nonSteeringCanvas {
  position: absolute;
}

svg.densityCanvas rect.selection {
  fill: transparent;
  stroke: #555;
}

svg.recentPointsCanvas circle.recent-point {
  fill: white;
  stroke: steelblue;
  stroke-width: 2px;
}
svg.recentPointsCanvas circle.recent-point.inside-selection {
  fill: steelblue;
}

svg.nonSteeringAxesCanvas,
canvas.nonSteeringCanvas,
svg.recentNonSteeredPointsCanvas {
  right: 0;
}

svg.recentNonSteeredPointsCanvas circle.recent-point {
  fill: white;
  stroke: #555;
  stroke-width: 2px;
}

svg.recentNonSteeredPointsCanvas circle.recent-point.inside-selection {
  fill: #555;
}

rect.brushedRegion {
  stroke: #ccc;
  fill: none;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

svg g.unset-dimension-warning {
  text-anchor: middle;
}

svg.densityCanvas path.density-region {
  fill-opacity: 0.05;
  fill: black;
}

g.brush .selection {
  fill: transparent;
  stroke: #777;
  stroke-width: 2px;
}

rect.padded-brush {
  fill: transparent;
  stroke: #555;
  stroke-dasharray: 5px 5px;
  shape-rendering: crispEdges;
}