div.starCoordinatesRenderer {
  font-family: 'Roboto', sans-serif;
}
canvas.starCoordinateCanvas,
svg.starCoordinateAxesCanvas {
  position: absolute;
  left: 0;
}
canvas.nonSteeringStarCoordinateCanvas,
svg.nonSteeringStarCoordinateAxesCanvas {
  position: absolute;
  right: 0;
}