svg.ternaryPlotCanvas,
svg.ternaryPlotAxesCanvas,
svg.ternaryPlotRecentPointCanvas {
  position: absolute;
  left: 0;
}

svg.nonSteeringTernaryPlotCanvas,
svg.ternaryPlotNonSteeringRecentPointCanvas,
svg.nonSteeringTernaryPlotAxisCanvas {
  position: absolute;
  right: 0;
}

svg.nonSteeringTernaryPlotAxisCanvas rect.brushedRegion {
  stroke: #ccc;
  fill: none;
  stroke-width: 0.25px;
  shape-rendering: crispEdges;
}

svg.ternaryPlotRecentPointCanvas circle.recent-point {
  fill: white;
  stroke: steelblue;
  stroke-width: 2px;
}
svg.ternaryPlotRecentPointCanvas circle.recent-point.inside-selection {
  fill: steelblue;
}

svg.ternaryPlotNonSteeringRecentPointCanvas circle.recent-point {
  fill: white;
  stroke: #555;
  stroke-width: 2px;
}

svg.ternaryPlotNonSteeringRecentPointCanvas circle.recent-point.inside-selection {
  fill: #555;
}
