.double-slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.double-slider-container label {
  margin-right: 1rem;
}

g.histogram rect.bin {
  fill: steelblue;
}

g.selectionOverlay rect.bin {
  fill: white;
  fill-opacity: 0.7;
}