.evaluationMetric {
  margin-right: 0.5rem;
  border: 1.2px solid #333;
  padding: 0.1rem 0.5rem 0.2rem;
  border-radius: 3px;
  cursor: pointer;
}
.evaluationMetric:hover {
  background: #eee;
}
.evaluationMetric.active {
  color: white;
  background: #333;
}
.evaluationMetric.active svg {
  color: black;
  text-shadow: white;
}
.evaluationMetric.active:hover {
  background: #555;
  border-color: #555;
}
.evaluationMetric .label {
  margin-right: 0.5rem;
}
.evaluationMetric svg {
  shape-rendering: auto;
  text-rendering: optimizeLegibility;
}
.evaluationMetric svg.canvas  {
  position: absolute;
  bottom: 100px;
  left: 25px;
  background: white;
  border: 1px solid #ccc;
}
.evaluationMetric svg.canvas g.selection-line line {
  stroke: #ccc;
}
.evaluationMetric svg.canvas g.selection-line text {
  fill: #555;
}
.evaluationMetric svg.canvas path.time {
  stroke: #333;
  fill: none;
  stroke-width: 2px;
}
.evaluationMetric svg.canvas circle.endpoint {
  fill: #333;
}


.evaluationMetric .state-indicator .indicator.collectingData {
  stroke: #66c2a5;
}
.evaluationMetric .state-indicator .indicator.usingTree {
  stroke: #fc8d62;
}
.evaluationMetric .state-indicator .indicator.flushing {
  stroke: #8da0cb;
}