.histogram-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.histogram-container label {
  /* background: rgba(255, 255, 255, 0.7); */
  position: absolute;
  margin-left: 0.75rem;
  font-size: 10pt;
  transform: translateY(10px);
  max-width: 8rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.histogram-canvas {
  padding-bottom: 0.5rem;
}

g.histogram rect.bin {
  fill: steelblue;
  fill-opacity: 0.3;
  transition: fill-opacity 0.25s;
}
g.histogram rect.bin.empty-selection {
  fill-opacity: 1;
}

g.selectionOverlay rect.bin {
  fill: steelblue;
  fill-opacity: 1;
}