.histogram-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.histogram-container label {
  margin-right: 1rem;
  max-width: 6rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

g.histogram rect.bin {
  fill: steelblue;
  fill-opacity: 0.3;
  transition: fill-opacity 0.25s;
}
g.histogram rect.bin.empty-selection {
  fill-opacity: 1;
}

g.selectionOverlay rect.bin {
  fill: steelblue;
  fill-opacity: 1;
}