div.toggle {
  background: #efefef;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0.1rem 0.5rem 0.15rem;
  margin: 0 0.5rem;
}
div.toggle:hover {
  background: #ddd;
}
div.toggle input {
  display: none;
}
div.toggle.checked {
  background: #333;
  color: white;
}
div.toggle.checked:hover {
  background: #555;
}
div.toggle.disabled {
  background: #efefef;
  color: #ccc;
}
div.toggle.disabled:hover {
  background: #efefef;
  color: #ccc;
}
div.toggle label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
div.toggle label i {
  margin-right: 5px;
  font-size: 16px;
}