.progressBarContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.progressBar {
  width: 40%;
  height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #777;
  background: #fff;
}
.progress {
  background: steelblue;
  height: 1rem;
  padding-left: 1rem;
  line-height: 0.9rem;
}