svg.axisCanvas,
svg.densityCanvas,
canvas.scatterplotCanvas {
  position: absolute;
}

svg.densityCanvas rect.selection {
  fill: transparent;
  stroke: #555;
}

rect.brushedRegion {
  stroke: #ccc;
  fill: none;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

svg g.unset-dimension-warning {
  text-anchor: middle;
}

svg.densityCanvas path.density-region {
  fill-opacity: 0.05;
  fill: black;
}