
.footer {
  border-top: 2px solid #efefef;
}

.footer .left,
.footer .center,
.footer .right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  white-space: nowrap;
}
.footer .center {
  overflow: auto;
}

.footer .training-state-indicator {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  padding: 0.05rem 0.75rem 0.2rem;
}
.footer .training-state-indicator .indicator {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.5rem;
  background: red;
  margin: 0 0.5rem;
  margin-top: 0.2rem;
}
.footer .training-state-indicator .indicator.collecting {
  background: #66c2a5;
}
.footer .training-state-indicator .indicator.tree {
  background: #fc8d62;
}
.footer .training-state-indicator .indicator.flushing {
  background: #8da0cb;
}

.footer .metrics {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.footer .highlight-latest-point-toggle,
.footer .show-heatmap-toggle,
.footer .use-delta-heatmap-toggle,
.footer .show-sidebyside-toggle,
.footer .selection-padding-input {
  padding: 0 0.5rem;
}
.footer .selection-padding-input input {
  width: 2rem;
}

.footer .progression-controls {
  display: flex;
  flex-direction: row;
  margin: 0 0.5rem;
}
.footer .progression-controls .control-overlay {
  z-index: -1;
  position: absolute;
  right: 25px;
  bottom: 65px;
  font-size: 25px;
  border: 1px dashed #ccc;
  color: #aaa;
  border-radius: 4px;
  padding: 1.25rem 1.7rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: start;
}
.footer .progression-controls .control-overlay label {
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}
.footer .progression-controls .control-overlay i.icon {
  font-size: 35px;
  font-weight: bold;
  transform: rotate(-90deg);
}
.footer .progression-controls .control {
  margin: 0 0.25rem;
  padding: 0 0.25rem;
  border: 1px solid #ccc;
  cursor: pointer;
}
.footer .progression-controls .control:hover {
  background: #efefef;
}