.header {
  box-shadow: 0 3px 10px #efefef;
  overflow: auto;
  max-height: 1.5rem;
}

.header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .logo {
  margin-left: 0.5rem;
}
.header select {
  margin: 0 0.5rem;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0 1rem;
  background: #efefef;
  cursor: pointer;
  height: 25px;
  font-size: 14px;
}
.header select:hover {
  border-color: #ccc;
}

.header .dimension-selection {
  display: flex;
  flex-direction: row;
}

.header .dimension-histograms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: hidden;
}
.header .dimension-histograms .double-slider-container {
  margin: 0 11rem;
}

.header #scenario-presets {
  max-width: 200px;
}