.mainView {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.renderer-tabs {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.renderer-tabs .renderer-tab {
  background: #fff;
  border: 1px solid #333;
  font-size: 13px;
  border-radius: 3px;
  margin: 1.5rem 0.25rem;
  padding: 0.1rem 0.5rem 0.15rem;
}
.renderer-tabs .renderer-tab.active {
  color: #fff;
  border-color: #333;
  background: #333;
}
.renderer-tabs .renderer-tab input {
  display: none;
}
.renderer-tabs .renderer-tab label {
  cursor: pointer;
}
