.mainView {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.renderer-tabs {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.renderer-tabs .renderer-tab {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 0.5rem;
  padding: 0.25rem 1.25rem;
}
.renderer-tabs .renderer-tab.active {
  color: #fff;
  border-color: steelblue;
  background: steelblue;
}
.renderer-tabs .renderer-tab input {
  display: none;
}
.renderer-tabs .renderer-tab label {
  cursor: pointer;
}
