.mainView {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.renderer-tabs {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.renderer-tabs .renderer-tab {
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0 0 5px #fff;
}
.renderer-tabs .renderer-tab.active {
  border-bottom: 4px solid #ccc;
  background: #efefef;
}
.renderer-tabs .renderer-tab input {
  display: none;
}
.renderer-tabs .renderer-tab label {
  padding: 1rem;
  line-height: 2rem;
  cursor: pointer;
}
